@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --color-global: #4f87fb;
  --color-secondary: #130947;

  --color-font: #6d7a8c;

  --color-blackish: #28303f;
  --color-light-bg: #f1f6fb;
  --color-hover: #4f87fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

/* ANIMATIONS */

@keyframes slideToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes swingForward {
  0% {
    /* opacity: 0; */
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimSecond {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  background-color: var(--color-global);
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  padding: 1.3rem 2.5rem;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;

  transition: background-color 0.5s;
}

.btn:hover {
  background-color: var(--color-secondary);
}

@media screen and (max-width: 1100px) {
  .btn {
    padding: 1rem 2rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 850px) {
  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 12px;
  }
}
